SUBSYSTEM=="thermal"
KERNEL=="thermal_zone0"

ATTR{trip_point_3_temp}="75000"
ATTR{trip_point_3_hyst}="5000"

ATTR{trip_point_2_temp}="78000"
ATTR{trip_point_2_hyst}="2000"

ATTR{trip_point_1_temp}="80000"
ATTR{trip_point_1_hyst}="2000"

ATTR{trip_point_0_temp}="81000"
ATTR{trip_point_0_hyst}="5000"
